<form action="/usuario" method="post">
    <laberl>Ingresa los datos</laberl>
    <input type="text" name="reference", placeholder="reference"><br/>
    <input type="text" name="date", placeholder="date"><br/>
    <input type="text" name="amount", placeholder="amount"><br/>
    <input type="text" name="type", placeholder="type"><br/>
    <input type="text" name="category", placeholder="category"><br/>
    <input type="text" name="user_email", placeholder="user_email"><br/>

    <input type="submit" value="Enviar">
</form>
<form action="/ver_usario" method="post">
    <laberl for="reference">buscar informacion de un usuario</laberl>
    <input type="text" name="a" placeholder="user_email"><br/>
    <input type="submit" value="Enviar">
</form>
<form action="/ver_usarios" method="post">
    <laberl for="reference">ver los datos de gastos de los usuarios</laberl>
    <input type="submit" value="Enviar">
</form>